<div class="row">

  <div class="col-lg-12">

    <h1>Comparing Sensor Sites</h1>

    <br /><br />
    <% if @sensors.empty? %>
      <div class="alert alert-warning">To compare multiple sites at once, go to the <a href="/">home page</a> and use the drawing tools in the top right to select multiple monitoring sites.</div>
    <% else %>

      <div class="table-responsive">
        <table class="dataTableify table table-striped table-bordered table-hover">
          <tr>
            <th>Sensor ID</th>
            <th>Sensor Name/Description</th>
            <th>Latest Data</th>
          </tr>
          <% @sensors.each do |sensor| %>
            <tr data-sensor-id="<%= sensor["id"] %>" data-sensor-type="<%= sensor["type"] %>">
              <td><a href='/<%= sensor["type"] %>/<%= sensor["id"] %>'><%= sensor["type"].upcase %> #<%= sensor["id"] %><i class="fa fa-external-link fa-fw"></i></a></td>
              <td><strong class="sensor-title"></strong><br /><span class="sensor-description"></span></td>
              <td>Loading data for this sensor</td>
            </tr>
          <% end %>
        </table>
      </div>


    <% end %>


  </div>
</div>